h1{
    font-weight: bold;
    font-size: 200%;
    margin: 10px;
    color: #0e4c92;
}

h2{
    font-size: 150%;
    margin: 10px;
    font-family: Georgia, serif;
    background-color: #57a0d2;
    color:#000000;
    padding: 5px;
    border-radius: 5px;
}

h3{
    font-size: 125%;
    margin: 10px;
    font-family: Georgia, serif;
    background-color: #89cfef;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

p{
    margin: 5px;
    padding: 5px;
    font-size: 125%;
}

img{
    margin: 10px;
    border: 5px solid #006ab8;
    border-radius: 5px;
}


/*.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    align-content: space-evenly;
    height: 100%;
}

.chiangmai-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-content: space-evenly;
    height: 100%;
}

.seattle-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-content: space-evenly;
    height: 100%;
}*/

.intro{
    border:2px dashed #0e4c92;
    border-radius: 10px;
    font-family: Georgia, serif;
    font-size: 20px;
}

#pets{
    background-color: #0e4c92;
    color: #ffffff;
}

#recipes{
    background-color: #006ab8;
    color: #ffffff;
}

#travel{
    background-color: #0f52ba;
    color: #ffffff;
}

.sage-photos{
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.photos{
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

/*.skip-link{
    position: absolute;
    display: inline-block;
    padding: .375em .75em;
    line-height: 1;
    font-size: 1.25em;
    transform: translateY(0);
    transition: transform 250ms ease-in;
}

.skip-link:not(:focus){
    transform: translateY(-2rem);
} */

/*.skip-link.focusable{
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    display: block;
    text-align: center;
    transform: translateY(0);
    transition: transform 250ms ease-in;
}

.skip-link:not(:focus){
    transform: translateY(-2rem);
}

a, a:link, a:visited{
    text-decoration: none;
}

a, a:link{
    transition: all .3s ease;
    color: #006ab8;
}

a:-webkit-any-link{
    cursor: pointer;
}*/

.skip-link{
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

.skip-link:focus, .skip-link:active{
    left: auto;
    top: auto;
    display: block;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

ul.ingredients{
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 125%;
}

ol.steps{
    list-style-type: decimal;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 125%;
}

ul.likes{
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 30px;
}

ul.nav{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding:0;
    overflow: hidden;
    padding: 5px;
    width: auto;
    background-color: #f1f1f1;
}

li a{
    display: block;
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    background-color:#0e4c92;
}

li a.active{
    font-weight: bold;
    background-color: #0e4c92;
    color: #ffffff;
    text-decoration:underline;
}

a:hover:not(.active){
    background-color: #363636;
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 200px) {
    main{
        width: 100%;
    }
}

@media screen and (min-width: 200px) {
    .nav{
        width: 100%;
    }
}

@media screen and (min-width: 200px) {
    .photos{
        width: 100%;
    }
}

@media screen and (min-width: 960px){
    main{
        width: 100%;
    }
    #pets{
        font-size: 25px;
        padding: 10px;
        margin: 10px;
    }
    #travel{
        font-size: 25px;
        padding: 10px;
        margin: 10px;
    }
    #recipes{
        font-size: 25px;
        padding: 10px;
        margin: 10px;
    }
    .intro{
        border: 10px dashed #0e4c92;
        padding: 10px;
        margin: 25px 50px;
        font-size: 40px;
    }
    #subtitle{
        font-size: 35px;
        padding: 10px 20px;
    }
    h1{
        font-size: 50px;
        padding: 10px;
    }
    h2{
        font-size:45px;
    }
    h3{
        font-size: 35px;
    }
    p{
        font-size: 25px;
    }
    nav{
        font-size: 25px;
    }
    ul.likes{
        font-size: 25px;
    }
    .button{
        background-color: #9cadce;
        color: #000000;
        text-align: center;
        font-size: 25px;
        padding: 20px 35px;
        display: inline-block;
        border: none;
    }
    li{
        font-size: 35px;
        margin: 10px;
    }
    .steps{
        font-size: 35px;
    }
    .photos{
        margin: 5px;
        border: 1px solid #000000;
        float: left;
        width: auto;
    }
    .photos img{
        width: 100%;
        height: auto;
    }
    .desc{
        padding: 15px;
        font-size: 35px;
        text-align: center;
    }
}

@media screen and (prefer-reduced-motion: reduce) {
    
}

@media screen and (prefer-reduced-motion){
    
}